@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 780px) {
  body {
    width: 730px;
  }

  .container {
    flex-direction: column;
  }

  .projects-skills {
    text-align: center;
  }

  .projects {
    padding-top: 50px;
  }

  .footer {
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 781px) and (max-width: 1015px) {
  .container {
    flex-direction: column;
  }

  .projects-skills {
    text-align: center;
  }

  .projects {
    padding-top: 50px;
  }
}

* {
  color: #d1d1d1;
  font-family: "Utendo", sans-serif;
  font-weight: 200;
}

body {
  background: #1d1d20;
}

.main-container {
  display: block;
  position: relative;
  margin: 20px;
  padding-left: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fadeIn 0.5s;
}

.main-container:before {
  display: block;
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-top: 10px solid #00ced1;
  border-left: 10px solid #00ced1;
}

.main-container:after {
  display: block;
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-bottom: 10px solid #00ced1;
  border-right: 10px solid #00ced1;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.description {
  display: block;
  width: 100%;
  max-width: 800px;
  line-height: 24px;
  font-size: 18px;
  text-align: center;
  margin-right: 50px;
  animation: fadeIn 0.5s;
}

.description-1,
.description-2,
.description-3,
.description-4 {
  display: none;
  width: 100%;
  max-width: 800px;
  line-height: 24px;
  font-size: 18px;
  text-align: center;
  margin-right: 50px;
  animation: fadeIn 0.5s;
}

.project-1,
.project-2,
.project-3,
.project-4 {
  cursor: pointer;
}

.hyperweb,
.bankly,
.bankist,
.weatherly,
.numguess {
  border: 1px solid #d1d1d1;
  padding: 3px;
  /* border-radius: 10px; */
  opacity: 100%;
  /* filter: grayscale(1); */
}

.hyperweb:hover,
.bankly:hover,
.bankist:hover,
.weatherly:hover,
.numguess:hover {
  opacity: 60%;
  transition: 0.5s;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 144px;
  padding-top: 30px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
}

.icon-link {
  width: 30px;
  padding-left: 20px;
}

.icon-link-gmail {
  width: 35px;
  padding-left: 20px;
  padding-top: 6px;
}

.icon-link-cv {
  width: 30px;
  padding-left: 20px;
}

.sub-header p {
  font-size: 50px;
  margin-top: 0px;
}

.footer {
  text-align: center;
  color: #adadad;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 36px;
  margin-top: 15px;
}

h3 {
  font-size: 24px;
}

span {
  color: #00ced1;
}

a {
  text-decoration: none;
}

a:hover {
  color: #00ced1;
  transition: 0.5s;
}

a h4 {
  text-decoration: underline;
}

a h4:hover {
  color: #00ced1;
  transition: 0.5s;
}
